.overlay-popup {
  width: 600px;
  height: 500px;
  border: 2px brown solid;
  border-radius: 3px;
  // background: black;
  background: white;
  box-sizing: border-box;
  overflow: hidden;
}

.cropper-wrapper {
  width: 600px;
  height: 400px;
  border-bottom: 2px brown solid;
}

/* .files-dropzone {
  background-color: whitesmoke;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
} */
