.wrapper {
  width: 3840px;
  height: 2160px;
  position: relative;
}

.spacenote-image {
  position: absolute;
  cursor: pointer;
  max-width: 200px;
}

.note-wrapper {
  position: absolute;
  background-color: aqua;
  border: 3px rgb(155, 97, 97) solid;
  border-radius: 6px;
  box-shadow: 0 0 5px black;
  max-width: 300px;
  cursor: pointer;
  h4 {
    padding: 10px;
  }
}

.card-list {
  padding: 10px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.pancake-img {
  position: absolute;
  top: 900px;
  left: 2500px;
  cursor: pointer;
  width: 200px;
}

.card-separator {
  width: 100%;
  height: 3px;
  background: rgb(155, 97, 97);
}
