.spacenote-context-menu {
  position: absolute;
  padding: 20px;
  background-color: whitesmoke;
  font-size: 16px;
  border: 2px brown solid;
  border-radius: 4px;
  min-width: 200px;
  z-index: 9999;
  li {
    border-bottom: 1px brown solid;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    &:hover {
      background-color: burlywood;
    }
  }
}
