.cropper-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.cropper-buttons-save {
  padding: 10px 15px;
  background-color: burlywood;
  color: black;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}

.cropper-buttons-cancel {
  padding: 10px 15px;
  background-color: rgb(170, 25, 25);
  color: white;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}
